{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aviato</title>
    <link rel="icon" href="{% static 'images/logo-icon.png' %}">
    <link rel="icon" href="/Assets/img/15.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!-- links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preload" href="{% static 'images/fonts/Agustina.21f233e1.woff' %}" as="font" type="font/woff" crossorigin="">
    <script src="https://use.fontawesome.com/66c3c19309.js"></script>
    <script src="https://unpkg.com/ionicons@5.5.3/dist/ionicons.js"></script>
    <!-- links -->
</head>


<body data-aos-easing="ease" data-aos-duration="1500" data-aos-delay="0">
    <!-- <li><i class="uil uil-moon change-theme" id="theme-button"></i></li> -->
    <button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>
    <header id="header" class="fixed-top ">
        <div class="container-fluid  navbur">

            <div class="navi">
                <div class="col-xl-9 d-flex align-items-center lefty">
                    <h1 class="logo mr-auto"><a href="#">Aviato</a></h1>

                    <nav class="nav-menu d-none d-lg-block float-right">
                        <ul>
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#skills">Try Now</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <div class="invert pl-4 " id="theme-button">
                                <ion-icon name='contrast-outline' style="color:rgb(17, 190, 221)"></ion-icon>
                            </div>
                          
                        </ul>

                    </nav>

                    <div class="changed mx-3"><i class="icofont-ui-brightness change-theme" id="theme-button"></i></div>

                </div>
            </div>
        </div>
    </header>
    <section class=" descript "  id="home">
        <div class="container ">

            <div class="small-container ">
                <div class="row">
                    <div class="col-md-6 initial-0 aos-init " data-aos="zoom-in" data-aos-delay="200">
                        <p id="hey">INTRODUCING...</p>
                        {% for infor in info %}
                        <h1 id="name">AVIATO </h1>
                        <h3>A DOCTOR IN YOUR POCKET</h3>
                        <p> <span id="big"></span>Aviato gives you accurate solutions about your nutrition and health instantly. Upgrade your lifestyle by improving your health using our cutting edge technology</p>

                        <div class="social">
                            <a href="{{infor.instagram}}"> <i class="fa fa-instagram"></i></a>

                            <a href="{{infor.twitter}}"> <i class="fa fa-twitter"></i></a>
                            <a href="{{infor.facebook}}"><i class="fa fa-facebook-f" style="background: #4974c5 "></i>
                           </a>
                            <a href="{{infor.github}}"><i class="fa fa-github"></i>
                            </a>
                        </div>
                        <div class="button">
                            <a href="mailto:{{infor.email}}"> <button class="main-button2">Try as a business </button></a>
                            <a class="main-button ml-2" href="{{infor.mycv}}" target="_blank" rel="noopener noreferrer"> <button id="btn2">Try as a customer 
                            </button></a>

                        </div>
                    </div>

                    <div class="col-md-6 initial-1 aos-init" data-aos="zoom-in" data-aos-delay="300">
                        <img src="https://pbs.twimg.com/media/Fz5NloTX0AAGDju?format=png&name=small" alt="">
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <br><br>

    <section class="about its-me " id="about">
        <div class="container2">

            <div class="small-container2 ">
                <div class="row2 initial-3">
                    {% for aboutme in about %}
                    <div class="col-md-6 aos-init" data-aos="fade-up-right" data-aos-delay="700">
                        <img src="https://pbs.twimg.com/media/Fz8GMY5WcAAEw7t?format=jpg&name=small" alt="">
                    </div>
                    <div class="col-md-6 initial-4">
                        <div class="title aos-init" data-aos="zoom-in" data-aos-delay="200">
                            <h1>ARE YOU A BUSINESS OWNER?</h1>
                        </div>
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">Advertise to your target group using our app! We do all the work automatically so you don't have to do it yourself!</p>
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">Upgrade your business by getting information about your customers for better analysis automatically!</p>
                        <div class="icons aos-init" data-aos="zoom-in" data-aos-delay="300">

                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <article>

        </article>
    </section>

    <br><br><br>
    <br><br><br>

    <div class="work">
        <div class="container" id="work">
            <div class="title2">
                <h1>NOT JUST A CHATBOT</h1>
            </div>
            <div class="small-container">
                <div class="row3">
                    <div class="card initial-6  w- aos-init" data-aos="zoom-in" data-aos-delay="500">

                        <img src="https://pbs.twimg.com/media/Fz5ddVZXsAMV6d7?format=png&name=small" alt="">


                        <div class="card-body col-5-info px-3 py-3">
                            <h3 class="pb-1">Automated Appointments</h3>
                            <p class="pb-1">Get a list of nearby doctors related to your issue automatically.</p>
                        </div>

                    </div>
                    
                    <div class="card initial-6  w- aos-init" data-aos="zoom-in" data-aos-delay="500">

                        <img src="https://pbs.twimg.com/media/Fz5ldGQWwAAQhOW?format=png&name=small" alt="">


                        <div class="card-body col-5-info px-3 py-3">
                            <h3 class="pb-1">Updated Database</h3>
                            <p class="pb-1">Database made by doctors, dieticians and personal trainners that updates in real time.</p>
                        </div>

                    </div>

                </div>
                <div class="row4">

                    <div class="card initial-6  w- aos-init" data-aos="zoom-in" data-aos-delay="500">

                        <img src="https://pbs.twimg.com/media/Fz76XBMWIAMNRbA?format=png&name=small" alt="">


                        <div class="card-body col-5-info px-3 py-3">
                            <h3 class="pb-1">Habit Tracker</h3>
                            <p class="pb-1">Option track and set reminders for your fitness progress/appointments.</p>
                        </div>

                    </div>

                    <div class="card initial-6  w- aos-init" data-aos="zoom-in" data-aos-delay="500">

                        <img src="https://pbs.twimg.com/media/Fz7-mGwXsAAygvn?format=png&name=small" alt="">


                        <div class="card-body col-5-info px-3 py-3">
                            <h3 class="pb-1">Automated Marketing</h3>
                            <p class="pb-1">Are you a business owner? Market your business to nearby customers naturally.</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <br><br><br>


    <footer id="contact">
        <div class="container">
            <div class="title5">
                <h1>GET IN TOUCH</h1>
            </div>
            <div class="small-container">
                <div class="row4">
                                         {% for infor in info %}
   
                    <div class="col-md-6 initial-8 aos-init" data-aos="fade-down-right" data-aos-delay="300">
                        <p id="helo">Are you a dietician, a doctor or a personal trainer who wants to join our network? Get in touch with us now!</p>

                        <div class="contact-info">
                            <div class="c-ico">
                    <i class="fa fa-comments"></i> <span id="io">Message us</span></i>

                            </div>
                            <p>Email: <span>aviato.assistant@gmail.com</span></p>
                        </div>
                        <div class="contact-info obojo">
                            <div class="c-ico">
                                <i class="fa fa-share-square-o"> <span id="io">Social networks</span> </i>
                            </div>
                            <h4>
                                <a href="{{infor.instagram}}" class="m1"> <i class="icofont-instagram"></i></a>

                                  <a href="https://twitter.com/AviatoAssistant" class="m1"> <i class="icofont-twitter"></i></a>
                                <a href="{{infor.github}}"><i class="fa fa-github"></i>
                                </a>
                                <a href="{{infor.facebook}}"><i class="fa fa-facebook" style="background: #4974c5"></i></a>
                            </h4>

                        </div>
                    </div>
                    <div class=" col-md-6 initial-7 aos-init " data-aos="zoom-in " data-aos-delay="700 ">
                        <img src="{% static 'images/19.svg' %} " alt=" ">
                    </div>
                 {% endfor %}
                </div>
            </div>
        </div>
        <div class="up-arrow ">
            <div class="arrow ">
                <a href="# "><i class="fa fa-angle-up "></i>
            </a>
            </div>
        </div>

    </footer>

    <div id="preloader"></div>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>